.head-content{
  width:100%;
  height:20%;
  background-color: white;
}
.head-text{
  font-size:4em;
  width:30%;
  margin-left:4rem;
  margin-right:3rem;
  float: left;
}
.table-type{
  border: 1px;
  border-color: black;
  boder-type: solid;
  width: 94%;
  font-size: 2em;
  text-align: center;
  margin-left: 2rem;
  border-style: solid;
  table-layout: auto;
}
.table-td{
  height:4rem;
}
.table-th{
  height: 4rem;
  min-width: 3rem;
}
.mybutton-style{
  float:left;
  margin-left: 0.8rem;
}


